@font-face {
    font-family: 'Ostrich Sans-Inline';
    src: url('fonts/OstrichSansInline-Regular.otf');
}

@font-face {
    font-family: 'Ostrich Sans-Bold';
    src: url('fonts/OstrichSans-Bold.otf');
}

@font-face {
    font-family: 'Ostrich Sans-Black';
    src: url('fonts/OstrichSans-Black.otf');
}

@font-face {
    font-family: 'Ostrich Sans-Medium';
    src: url('fonts/OstrichSans-Medium.otf');
}

@font-face {
    font-family: 'JosefinSans';
    src: url('fonts/JosefinSans-ExtraLight.ttf');
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 50%;
    position: relative;
}

* {
    margin: 0 auto;
    padding: 0;
    font-family: 'JosefinSans',Courier,arial,helvetica, sans-serif;
    font-size: 110%;
}

.intro,
.intro p,
.intro h1,
.intro h2,
.intro h3,
.intro a{
    clear:both;
    margin: 10px 50px 10px 50px;
}

#banner {
    padding: 12em 0 12em 0;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    border-top: 0.3em solid hsl(220, 33%, 4%);
}

#banner h1 {
    font-size: 3.5em;
    font-weight: 100;
    color: white;
    line-height: 1em;
    margin: 0 0 0 0;
    padding: 0;
    font-family: 'Ostrich Sans-Bold',Courier,arial,helvetica, sans-serif;
}

#banner p {
    font-size: 1em;
    color:white;
    margin-bottom: 2em;
    font-family: Courier,arial,helvetica, sans-serif;
}

#menubar {
    padding: 5px 25px 5px 25px;
    margin: -45px 0 0 0;
    position: relative; 
    float: left;
    font-size: 80%;
}

ul#menu li {
    float: left;
    margin: 5px 0 10px 0;
    padding: 0 0 20px 5px;
    list-style: none;
}

ul#menu li a {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    display: block;
    height: 25px;
    text-decoration: none;
    padding: 5px 25px 5px 25px;
    float: left;
    text-align: center;
    color: #fff;
    font-family: Courier,arial,helvetica, sans-serif;
}

ul#menu li.selected a {
    height: 25px;
    color: black;
    padding: 5px 25px 5px 25px;
}

ul#menu li.selected {
    margin: 5px 0 5px 0;
    background: white;
}

ul#menu li a:hover {
    color: black;
}

.intro h1,
.intro h3{
    font-family: 'Ostrich Sans-Medium',Courier,arial,helvetica, sans-serif;
}

h4 {
  font-family: 'Ostrich Sans-Medium',Courier,arial,helvetica, sans-serif;
  text-align: center;
}

#content {
    width : 1000px;
    margin-top: 25px;
    display: block;
    text-align: center;
}

#selectbar {
    margin-top: 50px;
    margin-bottom: 50px; 
}

/* Pie Chart */

.chart .sector {
  margin: auto;
  transform-origin: 50% 50%;
  transition: transform 200ms;
}
.chart .sector:hover {
  transform: scale(1.1);
}
.chart text {
  font-family: 'Ostrich Sans-Medium',Courier,arial,helvetica, sans-serif;
  pointer-events: none;
}

.chart circle {
  pointer-events: all;
}

/* Stacked bar chart */

.stackedbar h1 {
  color: #fff;
  font-size: 18px;
  pointer-events: none;
  float: left;
  padding: 0 40px;
  text-transform: uppercase;
}

.main-wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.wrapper {
  box-shadow: 0 0 40px rgba(51, 59, 102, 0.5);
  display: none;
  width: 870px;
}

.cards {
  background: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 30px 40px;
}

.listen-wrap {
  overflow: hidden;
}
.listen-wrap ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.listen-wrap ul li {
  border-right: 1px solid #eee;
  color: #8e8e8e;
  display: inline-block;
  list-style: none;
  padding: 0 30px;
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
}
.listen-wrap ul li:first-child {
  padding-left: 0;
}
.listen-wrap ul li:last-child {
  border-right: 0;
  padding-right: 0;
}
.listen-wrap ul li span {
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
}

.count {
  color: #4a4a4a;
  font-size:60px;
  font-weight: 700;
  letter-spacing: -4px;
  line-height: 46px !important;
  margin-right: 10px;
  font-family: 'Ostrich Sans-Bold',Courier,arial,helvetica, sans-serif;
}

.chart-wrapper {
  background: #333B66;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  clear: both;
  padding: 20px 0 10px 50px;
  font-family: 'Ostrich Sans-Bold',Courier,arial,helvetica, sans-serif;
  color: #fff;
}

.chart-wrapper h1 {
  font-size: 30px;
}

.chart-wrapper text {
  font-size: 13px;
  fill: #A7B2EB;
  font-family: 'Ostrich Sans-Medium',Courier,arial,helvetica, sans-serif;
}

.axis path,
.axis line,
.gridline line {
  fill: none;
  stroke: #fff;
  opacity: 0.1;
  shape-rendering: crispEdges;
}

.line {
  stroke: #17EAD9;
  stroke-width: 3px;
  fill: none;
}

path.domain {
  fill: none;
  opacity: 0.1;
}

div.tooltip {
  color: #4a4a4a;
  position: absolute;
  text-align: center;
  padding: 3px 6px;
  font-size: 12px;
  background: #fff;
  border-radius: 4px;
  pointer-events: none;
}

.tick text {
  font-size: 18px;
}

.vbroadcast-legend {
  float: right;
  margin-right: 40px;
  margin-top: 16px;
}
.vbroadcast-legend li {
  color: #fff;
  font-size: 13px;
  float: left;
  list-style: none;
  margin-left: 20px;
  padding-left: 18px;
  position: relative;
}
.vbroadcast-legend li:before {
  content: "";
  height: 12px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 12px;
}
.vbroadcast-legend li.successful:before {
  background: #50e3c2;
}
.vbroadcast-legend li.unsuccessful:before {
  background: #ef5c6e;
}